body {
  background-color: black;
  color: white;
  margin: 0;
}

h1 {
  margin-left: 45px;
}

.input-form {
  display: flex;
  margin-left: 40px;
}

.input-form input,
button,
select {
  margin: 0px 10px;
  padding: 0 10px;
}

.ul-list ul {
  margin: 0;
  text-align: center;
}

.list-li {
  list-style-type: none;
  border: 1px solid white;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  width: 900px;
  text-decoration-line: underline;
}

.item {
  align-content: center;
  margin: 0 20px;
}
